*{margin: 0;
padding: 0;
}
#header{background-color:black;font-size: 35px;
        color: white}
.header1 li{list-style: none;     /*消除默认样式*/
        background-color: black;
        float: left;
        color: white;
        padding: 10px;}
.logo{float: left;
    height: 66px;
    width: 70px;
    background-color: black;
}
.logo1{
    width: 60px;
    height: 60px;
    border-radius: 30px;           /*边框圆角*/
    background:red;
    border: 2px solid #789cb6;} /*solid是边框实线*/
.logo2{width: 56px;
    height: 56px;
    border-radius: 28px;
    background-color: rgba(67, 238, 250, 0.541);
    position: relative;          /*相对定位*/
    height: 48px;
    left: 3px;
    top: 7px;}
.logo3{width: 30px;
    height: 30px;
    position: relative;
    left: 13px;
    top: 10px;
    background:rgb(86, 196, 240);
    border-radius: 10px;}