*{margin: 0;
    padding: 0;
    }
#header{background-color:black;font-size: 35px;
            color: white}
.header1 li{list-style: none;     /*消除默认样式*/
            background-color: black;
            float: left;
            color: white;
            padding: 10px;}
.logo{float: left;
        height: 66px;
        width: 70px;
        background-color: black;
    }
.logo >img{
        width: 70px;
        height: 66px;
    }
.site-search{
        float:right;
        width:300px;
        height:100px;}
#search{
        position:relative;
        top: -10px;
        right: 130px;
        margin-top:20px;}
#search input{
        padding-right:10px;
        height: 50px;}
#search button{
        position:absolute;
        right:60px;
        top:-10px;
        border:none;
        padding:0;
        width:65px;
        height:65px;
        background:url("../images/search.png") no-repeat scroll right center transparent ;/*设置背景图片是否随着文字移动而移动*/
        direction:ltr;
        text-indent:-9999em;}
.login{position: absolute;
        right: 30px;
        top: 10px;
        background-color: black;
        height: 50px;
        width: 70px;  
        color: white;}/*color设置文字颜色*/
.creator_Center{position: absolute;
        right: 115px;
        top: 10px;
        background-color: black;
        height: 50px;
        width: 75px;
        color: white;
        border-radius: 25px;}
.zhujiemian{width: 50%;
        height: 100%;
        background-color:white;
        position: absolute;
        top: 66px;
        left: 25%;
        color:black;
        font-size: 40px;
        text-align: center;}
.login1{width: 200px;
    height: 300px;
    position: relative;
    top: 30px;
    left: -150px;
}
.zhujiemian .saomaDenglu{position: relative;
    left: 70px;
    top: -260px;
    font-size: 30px;
}
.zhujiemian .dengluShuoming{position: relative;
    left: 90px;
    top: -100px;
    font-size: 20px;
}
.zhujiemian .dengluFangshi{
    position: relative;
    left: 80px;
    top: -123px;
    height: 25px;
    border-radius: 10px;
}
