*{margin: 0;
    padding: 0;
    }
#header{background-color:black;font-size: 35px;
            color: white}
.header1 li{list-style: none;     /*消除默认样式*/
            background-color: black;
            float: left;
            color: white;
            padding: 10px;}
.logo{float: left;
        height: 66px;
        width: 70px;
        background-color: black;
    }
.logo >img{
        width: 70px;
        height: 66px;
    }
.site-search{
        float:right;
        width:300px;
        height:100px;}
#search{
        position:relative;
        top: -10px;
        right: 130px;
        margin-top:20px;}
#search input{
        padding-right:10px;
        height: 50px;}
#search button{
        position:absolute;
        right:60px;
        top:-10px;
        border:none;
        padding:0;
        width:65px;
        height:65px;
        background:url("../images/search.png") no-repeat scroll right center transparent ;/*设置背景图片是否随着文字移动而移动*/
        direction:ltr;
        text-indent:-9999em;}
.login{position: absolute;
        right: 30px;
        top: 10px;
        background-color: black;
        height: 50px;
        width: 70px;  
        color: white;}/*color设置文字颜色*/
.creator_Center{position: absolute;
        right: 115px;
        top: 10px;
        background-color: black;
        height: 50px;
        width: 75px;
        color: white;
        border-radius: 25px;}
#nav{position: absolute; 
        top: 66px;
        left: auto;
        background-color: red;
        width: 100%;
        height: 60px;
    }
#nav1 li{float: left;
        list-style: none;
        color: black;
        margin-top: 9px;
        margin-left: 100px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 25px;
        border: rgba(214, 59, 59, 0.623) solid;
        border-radius: 20px;
        background-color: rgba(235, 26, 26, 0.623);
    }
ul{list-style: none;}
#content{position: absolute;
        width: 100%;
        height: 7000px;
        top: 127px;
        left: 0;
        background-color: rgba(228, 224, 224, 0.384);
    }
#content div{position: relative;
        left: 70px;
        top: -30px;
        width: 200px;
        height: 200px;
        padding-left: 40px;
        padding-right: 20px;  /*内边距*/
        margin-left: 100px;  /*外边距*/
        margin-top: 30px;
        font-size: 25px;
        text-align: center;
        background-color:white;}
#content li{display: block;
    }
#content img{width: 150px;
        height: 150px;
        padding-left: 10px;
        position: relative;
        left: -13px;}
a{text-decoration: none;
        color: black;}